<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title" id="myModalLabel">Create a Pin</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 text-left">
                        <dl>
                            <dt><h2>Name:</h2>
                            <dd><input type="text" class="form-control" value="Video games" name="Name"><br>
                            <dt><h2>Date:</h2>
                            <dd><input type="text" class="form-control" value="2015/12/12" name="Date"><br>
                            <dt><h2>Time:</h2>
                            <dd><input type="text" class="form-control" value="12:00am - 12:00pm" name="Time"><br>
                            <dt><h2>Tags:</h2>
                            <dd><input type="text" class="form-control" value="entertainment;games" name="Tags"><br>
                            <dt><h2>Location:</h2>
                            <dd><input type="text" class="form-control" value="Video room" name="Location"><br>
                            <dt><h2>Description:</h2>
                            <dd><textarea class="form-control" rows="5" name="Description">Let's play!</textarea><br>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="savePin">Pin event!</button>
            </div>
        </div>
    </div>
</div>