{% extends "layout.html" %}
{% block body %}
<div id="map">This should be a map.</div><hr>
<div class="row">
    <div class="col-md-12 text-left">
        {% if session.logged_in %}
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
            <dl>
                <dt><h2>Title:</h2>
                <dd><input type="text" class="form-control" placeholder="Your title here" name="title"><br>
                <dt><h2>Text:</h2>
                <dd><textarea class="form-control" rows="5" name="text"></textarea><br>
                <dd><button type="submit" class="btn btn-primary">Share event</button>
            </dl>
        </form>
        {% endif %}
    </div>
</div>

<script src="{{ url_for('static', filename='show_entries.js') }}"></script>
<script>
    $(document).ready(function() {
        events = [];
        {% for entry in entries %}
        events.push([
            "{{ entry.Name }}",
            "{{ entry.Location }}",
            "{{ entry.Description }}"
        ]);
        {% endfor %}

        var map;
        initMap();
        position = {lat: 33.776020, lng: -84.397111};

        events.forEach(function(entry) {
            var name = entry[0];
            var location = entry[1];
            var description = entry[2];
            postEvent(name, location, description);
        });
        <!--console.log("location: " + events[5][1]);-->
        <!--getLonLat(events[5][1]);-->
    });
</script>
{% endblock %}