{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div class="alert alert-success alert-dismissible fade in" id="notification" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    Hi! You have a subcribed event that will happen soon. Please check your email to see more detail.
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map">This should be a map.</div><hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <h2>Pick a start date</h2>
                <div class="input-group date" id="datepicker1">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h2>Pick a end date</h2>
                <div class="input-group date" id="datepicker2">
                    <input type="text" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h2>Filter events</h2>
                <button type="button" id="submitButton" data-loading-text="Loading..." class="btn btn-primary" autocomplete="off">
                Submit
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Tags</h2>
        <select class="form-control" id="tags">
            <option>All</option>
            <option>Miscellaneous</option>
            <option>Student sponsored</option>
            <option>Training</option>
            <option>Workshop</option>
            <option>Career</option>
            <option>Professional development</option>
            <option>Lecture</option>
            <option>Seminar</option>
            <option>Colloquium</option>
            <option>Conference</option>
            <option>Symposium</option>
            <option>Other</option>
        </select>
    </div>
</div>

{% include "pin_event.html" %}
{% include "edit_event.html" %}

<script src="{{ url_for('static', filename='show_entries.js') }}"></script>

<script>
    $("#notification").hide();
    var events;
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd < 10)
        dd = '0' + dd;
    if(mm<10)
        mm = '0' + mm;

    var start_date = yyyy + '-' + mm + '-' + dd;
    var end_date = start_date;

    $(document).ready(function() {
        var map;
        campusPosition = {lat: 33.776020, lng: -84.397111};
        initMap();
        getEvents(start_date, end_date, 'All');

        $('#datepicker1').datepicker().on('changeDate', function(e) {
            start_date = $('#datepicker1').data('datepicker').getFormattedDate('yyyy-mm-dd');
        });
        $('#datepicker1').datepicker('setDate', new Date());

        $('#datepicker2').datepicker().on('changeDate', function(e) {
            end_date = $('#datepicker2').data('datepicker').getFormattedDate('yyyy-mm-dd');
        });
        $('#datepicker2').datepicker('setDate', new Date());
    });

    $('#submitButton').click(function() {
        initMap();
        getEvents(start_date, end_date, $('#tags option:selected').text());
    });

    $('#saveEditedPin').click(function() {
        var name = $("#edit_name").val();
        var date = $("#edit_date").val();
        var time = $("#edit_time").val();
        var tags = $("#edit_tags").val();
        var location = $("#edit_loc").val();
        var description = $("#edit_desc").html();
        editEvent(activityId, name, date, time, tags, location, description);
    })

    $.ajax({
        url: '/notification',
        method: "GET",
        context: document.body,
        success: function(data) {
            console.log(data);
            if (data != "OK")
                $("#notification").show();
        }
    });
</script>
{% else %}
<h2>Please log in to see on campus events.</h2>
{% endif %}
{% endblock %}